body {
	background-color: #f8f9fa;
}

.row {
	margin: 0rem;
}

#main-background {
	height: 650px;
	width: 100%;
	/* Photo by Ketut Subiyanto from Pexels */
	background-size: cover;
	margin: 0rem;
	overflow: hidden;
}

#main-background #main-background-img {
	width: 100%;
	height: 100%;
	padding: 0rem;
}

#image-small {
	height: 65%;
	width: 100%;
}

#main-small {
	height: 25%;
	background-color: #22549f;
	width: 100%;
}

#main-background #centered {
	position: absolute;
	top: 50%;
	left: 15%;
	width: 250px;
	overflow-wrap: break-word;
}

#main-background #main-fitness-image {
	position: absolute;
	right: -10%;
	bottom: 4%;
	height: 65%;
}

.container-fluid {
	padding: 0rem;
}

.col-lg-12 {
	padding: 0px;
}

.col-sm-12 {
	padding: 0px;
}

.main-info {
	height: 500px;
	width: 100%;
	background-color: #f8f9fa;
	margin: 0rem;
	padding: 0rem;
}

.main-info img {
	/* https://freepngimg.com/png/10806-calendar-png-image is where image is from */
	width: 350px;
	height: 350px;
}

.main-info h5 {

}

.main-info-block {

}

.card-group {
	padding: 0rem;
}

.card {
	border-radius: 0rem;
}

.card .card-footer {
	padding: 0rem;
}

.card .card-footer a {
	width: 100%;
	height: 100%;
	border-radius: 0rem;
}

footer {
	margin-top: 1rem;
}

/* Register Style */

#register-button {
	width: 100%;
	border-radius: 0px;
}

.self-defined {
	font-family: 'Birthstone', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans', sans-serif;
  background: url("../images/exercise.jpeg") no-repeat;
  background-size: cover;
}

.form-control {
	border-radius: 0px;
}

#register-login-link {
	text-decoration: none;
}

.register h1 {
	color: #f1f1f2;
	font: bold;
}

/* Login Style */

#login-button {
	width: 100%;
	border-radius: 0px;
}

#login-register-link {
	text-decoration: none;
}

/* Navbar */
.navigation {
	padding-left: 20px;
}

