/* GLOBAL STYLING */

body {
	background-color: #f8f9fa;
}

.row {
	margin: 0rem;
}

.col-lg-12 {
	padding: 0px;
}

.col-sm-12 {
	padding: 0px;
}

.container-fluid {
	padding: 0rem;
}

.btn-outline-primary {
	border-color: white;
	color: white;
}

.btn-outline-primary:hover {
	background-color: white;
	border-color: white;
	color: #212432;
}

.btn-primary {
	background-color: #212432;
	border-color: #212432;
}

.btn-primary:hover {
	background-color: #52597b;
	border-color: #52597b;
}

.streched-link:hover {
	background-color: white;
	border-color: white;
	color: white;
}

.navigation {
	padding-left: 20px;
}

nav {
	background-color: #212432;
	padding: 0.5rem;
}

.submit-button {
	width: 100%;
	border-radius: 0px;
}

form a {
	color: white;
}

form a:hover {
	text-decoration: underline;
	color: white;
}

/* HOMEPAGE STYLE */

.img-container-lg {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 650px
}

.img-container-md {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 600px;
}

.img-container-sm {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 425px;
}

.img-container-lg h1 {
    padding-top: 140px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 8rem;
} 

.img-container-lg button {
	text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-bottom: 1rem;
}

.img-container-lg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.img-container-md h1 {
    padding-top: 70px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 10rem;
} 

.img-container-md button {
	text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-bottom: 1rem;
}

.img-container-md img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.img-container-sm h1 {
    padding-top: 65px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 5rem;
} 

.img-container-sm button {
	text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-bottom: 1rem;
}

.img-container-sm img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.main-info {
	height: 250px;
	width: 100%;
	background-color: #212432;
	margin: 0rem;
}

.main-info h5 {
	color: white;
}

#align-centered{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card-group {
	padding: 1rem;
}

.card {
	margin-right: 2rem;
	margin-left: 2rem;
	transition: 0.3s;
}

.card:hover {
	border: 2px solid #212432!important;
}

.card .card-footer {
	padding: 0rem;
}

.card .card-footer a {
	width: 100%;
	height: 100%;
	border-radius: 0rem;
}

footer {
	background-color: #212432;
}

/* REGISTER STYLE */

.img-container-register-lg {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 650px
}

.img-container-register-lg h1 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 2rem;
} 

.img-container-register-lg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.img-container-register-lg .form {
	text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
}

.form-control {
	border-radius: 0px;
}

.form-links {
	text-decoration: none;
}

/* LOGIN STYLE */

.img-container-login-lg {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 650px
}

.img-container-login-lg h1 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 2rem;
} 

.img-container-login-lg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.img-container-login-lg .form {
	text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
}


/* CREATE WORKOUT STYLING */

.img-container-create-workout-lg {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 650px
}

.img-container-create-workout-lg h1 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 2rem;
} 

.img-container-create-workout-lg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.img-container-create-workout-lg .form {
	text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
}

/* USER DASHBOARD */

#calendar-row {
	padding-left: 3rem;
	padding-right: 3rem;
	margin-bottom: 1rem;
}

#user-dashboard-row {
	height: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#dashboard-left {
	padding-left: 2rem;
	padding-right: 2rem;
}

.card-dashboard {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1rem;
}

.btn-dashboard {
	margin: 1rem;
	width: 100%;
}

.completed {
	color: lightgreen;
}

.incompleted {
	color: red;
}

.upcoming {
	color: #d5d534;
}

.fc-event-time, .fc-event-title {
	color: #2C3E50;
}

